In [1]:
from supabase import create_client, Client
import pandas as pd

In [ ]:
url = "https://ilbggxinbvqbzbokruvv.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlsYmdneGluYnZxYnpib2tydXZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0Njc2MzEsImV4cCI6MjA2NzA0MzYzMX0.LLhq8U4OswGgfN11l6TULNfjQu_eyQBmNgf4DC8G24M"  # <- remplacer avec le vÃ´tre

supabase = create_client(url, key)

response = supabase.table("master").select("*").execute()

data = response.data

In [3]:
df = pd.DataFrame(data)
df.head()

,ID,SECTEUR,LIGNE,DATE,TEMPS AVANT RESET (jour),TYPE,COTE,STYLE,COULEUR,PRISE,OUVREUR,COMMENTAIRE
0,1,Mezzanine,1,2025-05-06,35,trublue,11c,COMPLEXE,mauve,pinch,Mathilde,
1,2,Mezzanine,1,2025-05-06,35,trublue,10a,COMPLEXE,bleu,jug,,
2,3,Mezzanine,2,2025-05-06,35,ecole,7,GDS,jaune,jug,Raph,Cours de lead
3,4,Mezzanine,3,2025-05-06,35,ecole,8,GDS,vert,jug,Raph,Cours de lead
4,5,Mezzanine,4,2025-05-06,35,trublue,9,COMPLEXE,rouge,Mini jug,Phoebe,